<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }} - Test</title>
        {% else %}
            <title>Reviewing Flask Basics</title>
        {% endif %}
    </head>
    <body>
        <div>
            Flask Basics Review: 
            <a href="{{ url_for('index') }}">Home</a> 
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{  message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>