<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Reviewing Flask Basics">
        <meta name="author" content="Gitau Harrison">
        <!-- <link rel="icon" href="../../favicon.ico"> -->
        {% if title %}
            <title>{{ title }} - Reviewing Flask</title>
        {% else %}
            <title>Reviewing Flask Basics</title>
        {% endif %}
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Flask Basics</h1>
                    <h3>Hi, {{ user.username }}</h3>
                    {% for post in posts %}
                        <p>{{ post.author.username }} says:<b>{{ post.body }}</b></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>