{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Sign In</h1><br>
            <small>
                <p>
                    Username: taste<br>
                    Password: taste
                </p>
            </small>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <!-- Empty column -->
        </div>      
        <div class="col-md-4 forms">
            {{ wtf.quick_form(form) }}
            <p>
                New here? <a href="{{ url_for('register') }}">Register</a>
            </p>
        </div> 
        <div class="col-md-4">
            <!-- Empty column -->
        </div>   
    </div>   
{% endblock %}